--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: branch_working_days; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.branch_working_days (
    branch_id uuid NOT NULL,
    working_days character varying(255)
);


ALTER TABLE public.branch_working_days OWNER TO postgres;

--
-- Name: branches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.branches (
    id uuid NOT NULL,
    address character varying(255),
    close_time time(0) without time zone,
    created_at timestamp(6) without time zone,
    email character varying(255),
    name character varying(255),
    open_time time(0) without time zone,
    phone character varying(255),
    updated_at timestamp(6) without time zone,
    manager_id uuid,
    store_id uuid
);


ALTER TABLE public.branches OWNER TO postgres;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id uuid NOT NULL,
    name character varying(255),
    store_id uuid
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone,
    email character varying(255) NOT NULL,
    first_name character varying(255) NOT NULL,
    last_name character varying(255) NOT NULL,
    phone character varying(255),
    updated_at timestamp(6) without time zone,
    role character varying(50) DEFAULT 'ROLE_CUSTOMER'::character varying NOT NULL,
    CONSTRAINT customers_role_check CHECK (((role)::text = ANY ((ARRAY['ROLE_CUSTOMER'::character varying, 'ROLE_STORE_ADMIN'::character varying, 'ROLE_STORE_MANAGER'::character varying, 'ROLE_BRANCH_MANAGER'::character varying, 'ROLE_BRANCH_CASHIER'::character varying, 'ROLE_SUPER_ADMIN'::character varying])::text[])))
);


ALTER TABLE public.customers OWNER TO postgres;

--
-- Name: inventories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventories (
    id uuid NOT NULL,
    last_update time(0) without time zone,
    quantity integer NOT NULL,
    branch_id uuid,
    product_id uuid
);


ALTER TABLE public.inventories OWNER TO postgres;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id uuid NOT NULL,
    price double precision,
    quantity integer,
    order_id uuid,
    product_id uuid
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone,
    payment_type smallint,
    total_amount double precision,
    branch_id uuid,
    cashier_id uuid,
    customer_id uuid,
    CONSTRAINT orders_payment_type_check CHECK (((payment_type >= 0) AND (payment_type <= 2)))
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: orders_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_items (
    order_id uuid NOT NULL,
    items_id uuid NOT NULL
);


ALTER TABLE public.orders_items OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id uuid NOT NULL,
    brand character varying(255),
    created_at timestamp(6) without time zone,
    description character varying(255),
    image character varying(255),
    mrp double precision,
    name character varying(255) NOT NULL,
    selling_price double precision,
    sku character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone,
    store_id uuid,
    category_id uuid
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: refunds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refunds (
    id uuid NOT NULL,
    amount double precision,
    created_at timestamp(6) without time zone,
    payment_type smallint,
    reason character varying(255),
    branch_id uuid,
    cashier_id uuid,
    order_id uuid,
    shift_report_id uuid,
    CONSTRAINT refunds_payment_type_check CHECK (((payment_type >= 0) AND (payment_type <= 2)))
);


ALTER TABLE public.refunds OWNER TO postgres;

--
-- Name: shift_reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shift_reports (
    id uuid NOT NULL,
    net_sale double precision,
    shift_end timestamp(6) without time zone,
    shift_start timestamp(6) without time zone,
    total_orders integer NOT NULL,
    total_refunds double precision,
    total_sales double precision,
    branch_id uuid,
    cashier_id uuid
);


ALTER TABLE public.shift_reports OWNER TO postgres;

--
-- Name: shift_reports_recent_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shift_reports_recent_orders (
    shift_report_id uuid NOT NULL,
    recent_orders_id uuid NOT NULL
);


ALTER TABLE public.shift_reports_recent_orders OWNER TO postgres;

--
-- Name: shift_reports_top_selling_products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shift_reports_top_selling_products (
    shift_report_id uuid NOT NULL,
    top_selling_products_id uuid NOT NULL
);


ALTER TABLE public.shift_reports_top_selling_products OWNER TO postgres;

--
-- Name: stores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stores (
    id uuid NOT NULL,
    brand character varying(255) NOT NULL,
    address character varying(255),
    email character varying(255),
    phone character varying(255),
    created_at timestamp(6) without time zone,
    description character varying(255),
    status smallint,
    store_type character varying(255),
    updated_at timestamp(6) without time zone,
    store_admin_id uuid,
    CONSTRAINT stores_status_check CHECK (((status >= 0) AND (status <= 2)))
);


ALTER TABLE public.stores OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone,
    email character varying(255) NOT NULL,
    first_name character varying(255) NOT NULL,
    last_login timestamp(6) without time zone,
    last_name character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    phone character varying(255),
    updated_at timestamp(6) without time zone,
    store_id uuid,
    branch_id uuid,
    role character varying(50) NOT NULL,
    discharged_at timestamp(6) without time zone,
    suspended_at timestamp(6) without time zone,
    user_status character varying(255) NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['ROLE_CUSTOMER'::character varying, 'ROLE_STORE_ADMIN'::character varying, 'ROLE_STORE_MANAGER'::character varying, 'ROLE_BRANCH_MANAGER'::character varying, 'ROLE_BRANCH_CASHIER'::character varying, 'ROLE_SUPER_ADMIN'::character varying])::text[]))),
    CONSTRAINT users_user_status_check CHECK (((user_status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'SUSPENDED'::character varying, 'DISCHARGED'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: branch_working_days; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.branch_working_days (branch_id, working_days) FROM stdin;
a06329ba-d1ce-4aeb-9b35-d03a208c3a99	Mon
a06329ba-d1ce-4aeb-9b35-d03a208c3a99	Tue
a06329ba-d1ce-4aeb-9b35-d03a208c3a99	Wed
a06329ba-d1ce-4aeb-9b35-d03a208c3a99	Thu
a06329ba-d1ce-4aeb-9b35-d03a208c3a99	Fri
a06329ba-d1ce-4aeb-9b35-d03a208c3a99	Sat
\.


--
-- Data for Name: branches; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inventories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventories (id, last_update, quantity, branch_id, product_id) FROM stdin;
190b4a9f-182f-48b3-a68f-bcdc9f1464b4	14:38:02	150	a06329ba-d1ce-4aeb-9b35-d03a208c3a99	30e1503e-105f-4f44-9afa-3a8844747e7c
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_items (id, price, quantity, order_id, product_id) FROM stdin;
970f4fd8-a16a-42df-a075-c0af0bfe88e4	3596	4	ea9ebf18-0298-481f-bfe1-b81afa2fbdd2	30e1503e-105f-4f44-9afa-3a8844747e7c
139abeb4-5cce-4894-98a7-f2890ebf542f	2697	3	f5bded67-c859-430d-8733-3284e665209f	30e1503e-105f-4f44-9afa-3a8844747e7c
efdfcf1e-2318-484f-af51-f345729d307c	3596	4	d08cad2a-18e9-4f9f-ad17-329fd66a12ba	30e1503e-105f-4f44-9afa-3a8844747e7c
4d17ac9d-16de-45d3-8cbc-43d1b03458e9	3596	4	23cabe84-f309-420f-8bc0-5c84372e8358	30e1503e-105f-4f44-9afa-3a8844747e7c
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders_items (order_id, items_id) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: refunds; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.refunds (id, amount, created_at, payment_type, reason, branch_id, cashier_id, order_id, shift_report_id) FROM stdin;
9265683a-5c7f-4d8e-a2b9-ddecc429dc81	3596	2026-02-25 13:15:19.145965	\N	I don't like the product anymore!	a06329ba-d1ce-4aeb-9b35-d03a208c3a99	cc2b9b00-607f-4902-accb-57cec1bbc863	ea9ebf18-0298-481f-bfe1-b81afa2fbdd2	\N
d05aeca1-2ef9-4d17-bacb-bd954bc1b8fe	3596	2026-02-25 19:32:24.576645	\N	The product seems to have expired or not working at all !	a06329ba-d1ce-4aeb-9b35-d03a208c3a99	cc2b9b00-607f-4902-accb-57cec1bbc863	23cabe84-f309-420f-8bc0-5c84372e8358	\N
\.


--
-- Data for Name: shift_reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shift_reports (id, net_sale, shift_end, shift_start, total_orders, total_refunds, total_sales, branch_id, cashier_id) FROM stdin;
b2041142-6638-4072-b7aa-d526be85bb2e	6293	\N	2026-02-25 17:13:57.619335	3	3596	9889	a06329ba-d1ce-4aeb-9b35-d03a208c3a99	cc2b9b00-607f-4902-accb-57cec1bbc863
\.


--
-- Data for Name: shift_reports_recent_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shift_reports_recent_orders (shift_report_id, recent_orders_id) FROM stdin;
b2041142-6638-4072-b7aa-d526be85bb2e	23cabe84-f309-420f-8bc0-5c84372e8358
b2041142-6638-4072-b7aa-d526be85bb2e	d08cad2a-18e9-4f9f-ad17-329fd66a12ba
b2041142-6638-4072-b7aa-d526be85bb2e	f5bded67-c859-430d-8733-3284e665209f
\.


--
-- Data for Name: shift_reports_top_selling_products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shift_reports_top_selling_products (shift_report_id, top_selling_products_id) FROM stdin;
b2041142-6638-4072-b7aa-d526be85bb2e	30e1503e-105f-4f44-9afa-3a8844747e7c
\.


--
-- Data for Name: stores; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: branches branches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT branches_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: inventories inventories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventories
    ADD CONSTRAINT inventories_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: refunds refunds_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refunds
    ADD CONSTRAINT refunds_pkey PRIMARY KEY (id);


--
-- Name: shift_reports shift_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shift_reports
    ADD CONSTRAINT shift_reports_pkey PRIMARY KEY (id);


--
-- Name: stores stores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_pkey PRIMARY KEY (id);


--
-- Name: orders_items uk7qrg5pfgjon82yhgwfqrdijm5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_items
    ADD CONSTRAINT uk7qrg5pfgjon82yhgwfqrdijm5 UNIQUE (items_id);


--
-- Name: shift_reports_recent_orders uk8tad2l5ikrqaykghn410a2k8s; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shift_reports_recent_orders
    ADD CONSTRAINT uk8tad2l5ikrqaykghn410a2k8s UNIQUE (recent_orders_id);


--
-- Name: branches uk9sgoag24qgk3nabu6g7416ijm; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT uk9sgoag24qgk3nabu6g7416ijm UNIQUE (manager_id);


--
-- Name: products ukfhmd06dsmj6k0n90swsh8ie9g; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT ukfhmd06dsmj6k0n90swsh8ie9g UNIQUE (sku);


--
-- Name: shift_reports_top_selling_products ukq60ptt5605rilbqljyo2ow42t; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shift_reports_top_selling_products
    ADD CONSTRAINT ukq60ptt5605rilbqljyo2ow42t UNIQUE (top_selling_products_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: shift_reports fk16vtoam7v9u18b7w46tlhktja; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shift_reports
    ADD CONSTRAINT fk16vtoam7v9u18b7w46tlhktja FOREIGN KEY (cashier_id) REFERENCES public.users(id);


--
-- Name: refunds fk1ll76x8e05qwr75ddryqh768n; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refunds
    ADD CONSTRAINT fk1ll76x8e05qwr75ddryqh768n FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: branch_working_days fk1pw0iposltokqnwyygxhix9oy; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.branch_working_days
    ADD CONSTRAINT fk1pw0iposltokqnwyygxhix9oy FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: refunds fk4dps8qtfhr1s4l8x5yxalprbx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refunds
    ADD CONSTRAINT fk4dps8qtfhr1s4l8x5yxalprbx FOREIGN KEY (shift_report_id) REFERENCES public.shift_reports(id);


--
-- Name: users fk7wra86jadsraitoewujbjj1pd; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk7wra86jadsraitoewujbjj1pd FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: inventories fk8drmqyx629j3oo8ct9jnc5y3y; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventories
    ADD CONSTRAINT fk8drmqyx629j3oo8ct9jnc5y3y FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: users fk9o70sp9ku40077y38fk4wieyk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk9o70sp9ku40077y38fk4wieyk FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: branches fkaxphe54ft6x2k2ndo8t5vsvjo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT fkaxphe54ft6x2k2ndo8t5vsvjo FOREIGN KEY (manager_id) REFERENCES public.users(id);


--
-- Name: order_items fkbioxgbv59vetrxe0ejfubep1w; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT fkbioxgbv59vetrxe0ejfubep1w FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: branches fkc2bywqbckf4tnouya6o5q9rbg; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT fkc2bywqbckf4tnouya6o5q9rbg FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: products fkgcyffheofvmy2x5l78xam63mc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT fkgcyffheofvmy2x5l78xam63mc FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: shift_reports_recent_orders fkgnjobuxkal7bgcra6hqrtegwi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shift_reports_recent_orders
    ADD CONSTRAINT fkgnjobuxkal7bgcra6hqrtegwi FOREIGN KEY (shift_report_id) REFERENCES public.shift_reports(id);


--
-- Name: inventories fkgs563w23gys2co425wraxaj1o; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventories
    ADD CONSTRAINT fkgs563w23gys2co425wraxaj1o FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: orders_items fkij1wwgx6o198ubsx1oulpopem; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_items
    ADD CONSTRAINT fkij1wwgx6o198ubsx1oulpopem FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: orders fkjcfql8n80mxan8of04c8sd8k2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fkjcfql8n80mxan8of04c8sd8k2 FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: orders fkmb88e3a35geg9rxiefr1qma88; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fkmb88e3a35geg9rxiefr1qma88 FOREIGN KEY (cashier_id) REFERENCES public.users(id);


--
-- Name: shift_reports fkmtv0h0188x1l1w75jxyapwklv; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shift_reports
    ADD CONSTRAINT fkmtv0h0188x1l1w75jxyapwklv FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: stores fkn34o6e266esj3ickq4ecol23k; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT fkn34o6e266esj3ickq4ecol23k FOREIGN KEY (store_admin_id) REFERENCES public.users(id);


--
-- Name: order_items fkocimc7dtr037rh4ls4l95nlfi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT fkocimc7dtr037rh4ls4l95nlfi FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: products fkog2rp4qthbtt2lfyhfo32lsw9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT fkog2rp4qthbtt2lfyhfo32lsw9 FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: orders_items fkol66sj9j6lm31o8rea1gw8ij0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_items
    ADD CONSTRAINT fkol66sj9j6lm31o8rea1gw8ij0 FOREIGN KEY (items_id) REFERENCES public.order_items(id);


--
-- Name: shift_reports_top_selling_products fkp4vayss0ugtqorcjcgks36ysg; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shift_reports_top_selling_products
    ADD CONSTRAINT fkp4vayss0ugtqorcjcgks36ysg FOREIGN KEY (shift_report_id) REFERENCES public.shift_reports(id);


--
-- Name: shift_reports_top_selling_products fkpqhrm8ih5hkhums5jvq711ljv; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shift_reports_top_selling_products
    ADD CONSTRAINT fkpqhrm8ih5hkhums5jvq711ljv FOREIGN KEY (top_selling_products_id) REFERENCES public.products(id);


--
-- Name: orders fkpxtb8awmi0dk6smoh2vp1litg; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fkpxtb8awmi0dk6smoh2vp1litg FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: refunds fksk9rqm7f6y8b1g0qob018hdm7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refunds
    ADD CONSTRAINT fksk9rqm7f6y8b1g0qob018hdm7 FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: shift_reports_recent_orders fksuhrw35v8qf9o8v1lpaw7cvwu; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shift_reports_recent_orders
    ADD CONSTRAINT fksuhrw35v8qf9o8v1lpaw7cvwu FOREIGN KEY (recent_orders_id) REFERENCES public.orders(id);


--
-- Name: categories fkswh8ov7e46aj6bf053xla2c6b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT fkswh8ov7e46aj6bf053xla2c6b FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: refunds fktc18xvixjcl9x2sy2s7snlvmf; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refunds
    ADD CONSTRAINT fktc18xvixjcl9x2sy2s7snlvmf FOREIGN KEY (cashier_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

